@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap');
 
 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #f10202, #971a1a, #641c1c);
}

.btn{
    flex-wrap: wrap;
    position: relative;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #da0d0d;
    color: #eee;
    border-radius: 5px;
    transition: back 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #8e0f0f;
}

a{
    text-decoration: none;
    border: none;
    padding: 15px;
    width: 100%;    
    border-radius: 10px;
    color: rgb(74, 74, 74);
    font-size: 15px;
    cursor: pointer;
}

#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 10px;
    padding: 5%;
    width: min-content;
    align-items: center;
    color: #232323;
}

.title{
    font-size: 1.8em;
    margin-bottom: 10%;
}

.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px #f10202 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input input{
    width: 80%;
    border: none;
    outline: none;
}

#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #470000, #9d1d1d, #f10202);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#btn button:hover{
    background: linear-gradient(-45deg, #f10202, #9d1d1d, #470000);
    cursor: pointer;
}